<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Slacker News</title>
</head>

<body>

  <link rel="stylesheet" href="/styles.css">

<div class="testpa">
<div class="nav">
<ul>
  <img src="https://news.ycombinator.com/y18.gif" alt="some_text" width="18" height="18">
  <li class="titl"><b>Slacker News</b></li>
  <li><a href="#home">new</a> |</li>
  <li><a href="#news">comments</a> |</li>
  <li><a href="#contact">ask</a> |</li>
  <li><a href="#about">jobs</a> |</li>
  <li><a href="#about">submit</a></li>
  <li class="log">login</li>
</ul>
</div>

<%=yield %>


<hr>


  <footer>
    <a href="#lists">Lists |</a>
    <a href="#rss">RSS |</a>
    <a href="#bookmarletk">Bookmarklet |</a>
    <a href="#guideline">Guidelines |</a>
    <a href="#faq">FAQ |</a>
    <a href="#dmca">DMCA |</a>
    <a href="#news">News News |</a>
    <a href="#features">Featured Requests |</a>
    <a href="#bugs">Bugs |</a>
    <a href="#ycombinator">Y Combinator |</a>
    <a href="#apply">Apply |</a>
    <a href="#library">Library</a>
 </footer>

 <form>
Search: <input type="text" name="search"><br>
</form>
</div>


</body>
</html>
