<div class="forms">
   <form action="/articles/new" method="post">
      <div class="titld">
        <label for="title_name">Title:</label>
        <input type="text" id="title_name" name="title_name" />
      </div>

      <div>
        <label for="url_name">URL:</label>
        <input type="text" id="url_name" name="url_name" />
      </div>


      <div>
        <label for="desc_name">Description:</label><br></b>
        <textarea name="desc_name"cols="30" rows="4"></textarea>
      </div>


      <input type="submit" />
    </form>
</div>

  <hr>

  <% flash.each do |error|%>
  <%= flash.now[:error] %>
  <% end %>



